.mainDiv{
    

    .cartHead{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        margin-bottom: .5rem;

    }
.cartItems{
    margin-bottom: 1rem;
    display: flex;
    width: 100vw;
    height: 10vh;
    // border: 1px solid black;
    background-color: #ffffff;
    gap:.5rem;
    // margin-left: .5rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    .image{
        width: 5rem;
        height: 3.5rem;

        .img{
            width: 100%;
            height: 100%;
        }
    }
    .cartItem{
        // margin-right: 3rem;
        // border: 2px solid black;
        width: 75vw;
        background-color: #ffffff;

        .first{

            .title{
                font-size: 1.2rem;
                font-weight: 700;
                background-color: #ffffff;
            }
        }

        .second{
            display: flex;
            justify-content: space-between;
            // gap: ;
            // border: 2px solid black;
            align-items: center;
            background-color: #ffffff;

            .secondHead{
                font-size: 1rem;
                font-weight: 500;
                background-color: #ffffff;
                .span{
                    font-weight: 700;
                    background-color: #ffffff;
                }
            }
            .buttons{
                display: flex;
                justify-content: space-between;
                width: 40vw;
                background-color: #ffffff;

                .button1{
                    border: 2px solid #005E2E;;
                    background-color: #D4D4D4;
                    padding: 0rem .8rem;
                    border-radius: 05px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1rem;
                    color: #005E2E;

                }
                .buttonSpan{
                    font-weight: 700;
                    background-color: #ffffff;
                }
            }
        }

        .third{
            background-color: #ffffff;

            .thirdHead{
                font-size: .8rem;
                background-color: #ffffff;
            }
        }
    }

}
    

}